<!-- About Section -->
<section class="success about section" id="about">
  <div class="container">
    <div>
      <div class="col-lg-12 text-center">
        <h2>A little about me</h2>
        <br/>
      </div>
    </div>
    <div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>I’m a freelance marketing and PR consultant based in Leeds. I have nearly 10 years of experience in the marketing communications field.</p>
        <br/>
        <p>Before I decided to take the big leap into freelancing in 2021, I gained experience in several in-house and agency roles, including as Head of Marketing at a boutique law firm, overseeing the marketing for the firms’ offices in Manchester, Yorkshire and London; and as an Account Manager and Content and PR Manager at a couple of PR agencies in Leeds and Huddersfield.</p>
        <br/>
        <p>During my career so far, I’ve worked on projects across an extensive range of sectors for UK based SMEs including: marketing, tech, third sector, hospitality, wedding and events, circular economy, health, wellness, manufacturing, professional services and various retailers including fashion, children’s products, handmade products, beverages and more.</p>
      </div>
    </div>
  </div>
</section>
