<!-- Story Section -->
<section class="success story section patterned-background" id="story">
  <div class="container">
    <div>
      <div class="col-lg-12 text-center">
          <h2>The story of Shellora Comms</h2>
        <br/>
      </div>
    </div>
    <div>
        <div class="col-lg-8 col-lg-offset-2">
            <p>Shellora Comms launched in 2025 as I re-entered the world of work following maternity leave. Although, I have been freelancing for a few years now.</p>
            <br/>
            <p>I set up as a rather unimaginative - Lauren Baker Comms back in 2021. I’d struggled to think of what to call my little freelance business. I wanted to find a unique name, something creative, that represented me personally, what I do and why I do it. I wanted a brand that had a story behind the name, not just a random word that didn’t mean anything to me… especially when I’m in the business of helping other business owners tell their stories.</p>
            <br/>
            <p>As I returned to work after maternity leave, I knew this was the time to once and for all figure out a new business name - especially as I’d been married for over two years and no longer go by the name Lauren Baker personally or professionally!</p> 
            <br/>
            <p>I kept racking my brains trying to think of a unique or at least, meaningful name to me (hats off to anyone who thought of their business name easily).</p> 
            <br/>
            <p>Then one week, not long before returning to work after maternity leave, my little boy said his first two words, other than the obvious mama and dada of course… a very random, unexpected… flower and turtle! Moments I’ll never forget. We were sure it was going to be dog and duck, but he likes to surprise us.</p> 
            <br/>
            <p>These first words inspired the brand name Shellora - shell, representing a turtle’s shell with a floral theme. Partially because I love turtles and flowers and thought this would open the door to create a slightly quirky brand look that I’d love!</p> 
            <br/>
            <p>But the real reason… not only did this inspire me due to the fact I largely work with words and communications - and what better way could I represent that than those sentimental first snippets of communicating with words with my little one (who is also my inspiration for pretty much everything I do these days knowing he’s looking up to me as a role model!). But I also thought about what these words may symbolise in respect to my work and my clients…</p> 
            <br/>
            <p>Firstly, from a personal perspective, I want to help my clients become unforgettable to their target audiences. But when I thought about it on a deeper and…slightly cliché level, I realised what flowers and turtles had long been symbols of: longevity, knowledge, protection and security, growth, appreciation and new beginnings.</p> 
            <br/>
            <p>This resonated with the work I do with clients, as I’m committed to working together on an exciting, collaborative journey. Sharing advice and guiding clients to help their businesses grow and thrive long term, through intentional and impactful marketing, content and PR campaigns - to share their brilliant business stories, products and expertise in a way that will help them connect with their audience, and build long-term influence and success.</p>
            <br/>
            <p>So yes, the story may sound a bit cheesy - but I hope it shows how much care and attention I will put into my work with you.</p> 
      </div>
    </div>
  </div>
</section>
