<!-- About Section -->
<section class="why patterned-background" id="why">
    <div class="container side-by-side">
        <div class="row col-lg-6 text-left-side">
            <div class="row">
                <div class="text-center">
                    <h2>Why work with me?</h2>
                    <br/>
                </div>
            </div>
            <div class="row col-lg-12">
                <div>
                    <p>I understand that as someone running a business or organisation, you put your whole heart into what you do. For me, working with like-minded, passionate people who trust me to support them on their journey, whether on a small one-off project or ongoing support, is an honour I don’t take lightly.</p>

                    <p>Whether you don’t know where to start with social media, don’t have time to focus your efforts on creating content or have no idea how to get your brand stories, products or services featured in the media, I can help.</p>
                    
                    <br/>
                    <p>When working with you, I’ll take a holistic approach. I want to get to know you and your business - to capture the whole picture of who you are, where you are now, what you want to achieve and where you want to be in the future. So I can carefully craft strategic PR and content marketing strategies that align with your goals whilst helping you gain authority as a specialist in your field.</p>
                    
                    <br/>
                    <p>Whether you’re a business owner or third sector organisation needing help, or an agency team needing extra support on a brief, get in touch.</p>
                </div>
            </div>
        </div>
        <div class="row col-lg-6 image-right-side">
            <img class="side-image" src="img/why-image.jpeg" alt="photo"/>
        </div>
    </div>
</section>
